<!DOCTYPE html>
<html lang="en">
<head>
    <title>Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class=" container jumbotron text-white bg-primary">
                <h1>
                    JSON DATA
                </h1>
            </div>
        <div class="container d-flex justify-content-center" style="margin-top: 2%">
                {% for key in data.keys() %}
                <div class="card text-black mb-3" style="max-width: 20rem;">
                    <div class="card-header">Username : {{key}}</div>
                    <div class="card-body">
                        {% for i in data[key] %}
                          <h5 class="card-title">Profile : {{i['profile']}}</h5>
                          <p class="card-text">
                            Start date : {{i['startDate']}}
                            <br>          
                            End date : {{i['endDate']}}
                            <br>
                          </p>
                          {% endfor %}
                    </div>
                </div>
                {% endfor %}
        </div>
        <div class="container d-flex justify-content-center" style="margin-top: 2%">
                <a href="{{ url_for('reset')}}">
                    <button class="form-control btn btn-primary">
                        Click here to reset user data
                    </button>
                </a>
            </div>
        <div class="container d-flex justify-content-center" style="margin-top: 2%">
                <a href="{{ url_for('index')}}">
                    <button class="form-control btn btn-primary">
                        Click here to enter another data
                    </button>
                </a>
        </div>
    </div>    
</body>
</html>