<!DOCTYPE html>
<html lang="en">
<head>
    <title>Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 align="center" style="margin-top: 3%">
            JSON DATA
        </h1>
        <div class="container d-flex justify-content-center" style="margin-top: 2%">
            <!-- <div class="container" style="margin-top:100px; border:2px solid  grey; border-radius:50px;"> -->
                <table cellpadding="10px">
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Profile
                        </th>
                        <th>
                            Start date
                        </th>
                        <th>
                            End date
                        </th>
                    </tr>
                    {% for key in data.keys() %}
                    <tr>
                        {% for i in data[key] %}
                        <td>
                            {{key}} 
                        </td>   
                        
                                <td>
                                   {{i["profile"]}}     
                                </td>
                                <td>
                                   {{i["startDate"]}}     
                                </td>
                                <td>
                                   {{i["endDate"]}}     
                                </td>
                    </tr>
                        {% endfor %}
                {% endfor %}
                </table>
            <!-- </div> -->
        </div>
        <div class="container d-flex justify-content-center" style="margin-top: 2%">
                <a href="http://localhost:5000/reset">
                    <button class="form-control btn btn-primary">
                        Click here to reset user data
                    </button>
                </a>
            </div>
    </div>    
</body>
</html>